<div class="page">
    <h2>Tasks</h2>
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Add new task</h5>
        </div>
        <div class="card-body pt-0">
            <app-edit-task (taskSaved)="addTask($event)"></app-edit-task>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-category d-flex">
                <span class="flex-grow-1">Tasks</span>
                <div class="d-flex align-items-center gap-2">
                    <app-dropdown
                        [ghost]="true"
                        [items]="sortOrderOptions"
                        [selectedValue]="sortOrder"
                        (selectedValueChanged)="sortOrderChanged($event)"
                    ></app-dropdown>
                    <app-toggle
                        [text]="'Show inactive tasks'"
                        [small]="true"
                        [checked]="showInactiveTasks"
                        (checkChanged)="toggleShowInactiveTasks()"
                    ></app-toggle>
                </div>
            </h5>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column table-tasks">
                <div
                    *ngFor="let task of visibleTasks"
                    class="px-2 py-1 hide"
                    [class.show]="!hideTasks.includes(task.id)"
                >
                    <div class="d-flex flex-row">
                        <div class="d-flex align-items-center flex-grow-1">
                            <div
                                class="d-flex gap-2 flex-grow-1"
                                *ngIf="!editTasks.includes(task.id)"
                            >
                                <span class="flex-grow-1">{{ task.name }}</span>
                                <app-tag
                                    *ngFor="let tag of getTagsForTask(task)"
                                    [colour]="tag.colour"
                                    [text]="tag.name"
                                ></app-tag>
                            </div>
                            <app-edit-task
                                *ngIf="editTasks.includes(task.id)"
                                [id]="task.id"
                                (taskSaved)="updateTask($event)"
                            ></app-edit-task>
                        </div>
                        <div class="d-flex align-items-center">
                            <button
                                type="button"
                                class="button-ghost"
                                (click)="toggleEdit(task)"
                                placement="top"
                                [ngbTooltip]="
                                    editTasks.includes(task.id)
                                        ? 'Cancel'
                                        : 'Edit'
                                "
                            >
                                <i
                                    class="fa-solid"
                                    [class.fa-pencil]="
                                        !editTasks.includes(task.id)
                                    "
                                    [class.fa-xmark]="
                                        editTasks.includes(task.id)
                                    "
                                ></i>
                            </button>
                            <app-toggle
                                [checked]="task.active"
                                [small]="true"
                                (checkChanged)="toggleStatus(task)"
                            ></app-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
