<div class="d-flex gap-2">
	<div class="frm-group">
		<label for="newTagText">Text</label>
		<input id="newTagText" placeholder="Text" type="text" [formControlDirective]="tagForm.controls.text" (keyup.enter)="saveTag()" />
	</div>
	<div class="frm-group">
		<label>Colour</label>
		<app-colour-dropdown
			[value]="tagForm.controls.colour.value"
			[formControlDirective]="tagForm.controls.colour"
			(resetValue)="ddl.select($event)"
			#ddl></app-colour-dropdown>
	</div>
	<div class="frm-group">
		<label>&nbsp;</label>
		<button type="button" class="frm-control button-primary" (click)="saveTag()">
			{{ id === 0 ? 'Add' : 'Save' }}
		</button>
	</div>
</div>

<app-validation-summary [formGroup]="tagForm"></app-validation-summary>
