<div ngbDropdown>
    <button
        class="frm-control"
        [class.button-primary]="!ghost"
        [class.button-ghost]="ghost"
        [style.color]="selectedItem?.foreground"
        [style.backgroundColor]="selectedItem?.background"
        [innerText]="selectedItem?.text"
        [value]="_selectedValue"
        ngbDropdownToggle
    ></button>
    <div class="items" ngbDropdownMenu>
        <button
            ngbDropdownItem
            *ngFor="let item of items"
            [style.color]="item.foreground"
            [style.backgroundColor]="item.background"
            [innerText]="item.text"
            (click)="select(item)"
        ></button>
    </div>
</div>
