<div ngbDropdown>
    <button
        class="frm-control"
        [class.button-primary]="!ghost"
        [class.button-ghost]="ghost"
        [style.color]="selectedItem?.foreground"
        [style.backgroundColor]="selectedItem?.background"
        [innerText]="selectedItem?.text || placeholder"
        [value]="_selectedValue"
        [disabled]="!items.length"
        ngbDropdownToggle
    ></button>
    <div class="items" ngbDropdownMenu>
        <button
            ngbDropdownItem
            *ngFor="let item of items"
            class="d-flex gap-1"
            [style.color]="item.foreground"
            [style.backgroundColor]="item.background"
            (click)="select(item)"
        >
            <span
                class="flex-grow-1"
                [class.with-tags]="item.tags.length"
                [innerText]="item.text"
            ></span>
            <app-tag
                *ngFor="let tag of item.tags"
                [colour]="tag.colour"
                [small]="true"
                [text]="tag.name"
            ></app-tag>
        </button>
    </div>
</div>
