<div class="page">
	<h2>Tags</h2>

	<div class="card card-chart">
		<div class="card-header">
			<h5 class="card-category">Add new tag</h5>
		</div>
		<div class="card-body pt-0">
			<app-edit-tag (tagSaved)="addTag($event)"></app-edit-tag>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<h5 class="card-category d-flex">
				<span class="flex-grow-1">Tags</span>
				<div class="d-flex align-items-center gap-2">
					<app-dropdown
						[ghost]="true"
						[items]="sortOrderOptions"
						[selectedValue]="sortOrder"
						(selectedValueChanged)="sortOrderChanged($event)"></app-dropdown>
					<app-toggle
						[text]="'Show inactive tags'"
						[small]="true"
						[checked]="showInactiveTags"
						(checkChanged)="toggleShowInactiveTags()"></app-toggle>
				</div>
			</h5>
		</div>
		<div class="card-body">
			<div class="d-flex flex-column table-tags">
				@for(tag of visibleTags; track tag){
				<div class="px-2 py-1 hide" [class.show]="!hideTags.includes(tag.id)">
					<div class="d-flex flex-row">
						<div class="d-flex align-items-center flex-grow-1">
							@if(!editTags.includes(tag.id)){
							<app-tag [colour]="tag.colour" [text]="tag.name"></app-tag>
							} @else {
							<app-edit-tag [id]="tag.id" (tagSaved)="updateTag($event)"></app-edit-tag>
							}
						</div>
						<div class="d-flex align-items-center">
							<button
								type="button"
								class="button-ghost"
								(click)="toggleEdit(tag)"
								placement="top"
								[ngbTooltip]="editTags.includes(tag.id) ? 'Cancel' : 'Edit'">
								<i class="fa-solid" [class.fa-pencil]="!editTags.includes(tag.id)" [class.fa-xmark]="editTags.includes(tag.id)"></i>
							</button>
							<app-toggle [checked]="tag.active" [small]="true" (checkChanged)="toggleStatus(tag)"></app-toggle>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</div>
