<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->

<h2>Tags</h2>
<div class="card card-chart">
    <div class="card-header">
        <h2 class="card-title">Tags</h2>
    </div>
</div>

<div class="card card-chart">
    <div class="card-header">
        <h5 class="card-category">Total Shipments</h5>
        <h2 class="card-title">Performance</h2>
    </div>
    <div class="card-body">
        <div>Dingen</div>
    </div>
</div>
