<div class="page">
	<h2>Clocking</h2>

	@if(clockTimeDates.length){
	<div ngbAccordion>
		@for(clockTimeDate of clockTimeDates; track clockTimeDate){
		<div ngbAccordionItem [collapsed]="!clockTimeDate.isOpen">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton>
					<span class="d-flex gap-2">
						<span class="flex-grow-1">
							{{ clockTimeDate.formattedDate }}
							@if(clockTimeDate.hasOverlap){
							<i class="fa-solid fa-triangle-exclamation warning ms-1" placement="top" [ngbTooltip]="'Has overlapping entries'"></i>
							}
						</span>

						<span [class.mx-2]="clockTimeDate.isRunning">
							<app-time-stamp [milliseconds]="clockTimeDate.totalElapsedMs"></app-time-stamp>
						</span>
						@if(clockTimeDate.isRunning){
						<span>
							<app-stopwatch></app-stopwatch>
						</span>
						}
					</span>
				</button>
			</h2>
			<div ngbAccordionCollapse>
				<div class="p-0" ngbAccordionBody>
					<app-clock-day [clockTimeDateGroup]="clockTimeDate" [tasks]="tasks" [tags]="tags"></app-clock-day>
				</div>
			</div>
		</div>
		}
	</div>
	}
</div>
