<div class="clock-bar gap-2" [class.clocking]="activeClockTime">
	<div class="flex-grow-1 mx-2 d-flex gap-1 align-items-center">
		@if(!activeClockTime){
		<i> @if(taskOptions.length){ Select a task to start clocking } @else { First create a task in order to start clocking } </i>
		} @else {
		<span class="d-flex gap-2">
			<span [innerText]="activeTaskDescription"></span>
			@for(tag of activeTaskTags || []; track tag){
			<app-tag [colour]="tag.colour" [text]="tag.name"></app-tag>
			}
		</span>
		}
	</div>

	@if(activeClockTime){
	<span>
		<app-time-stamp [milliseconds]="timeTakenMs"></app-time-stamp>
	</span>
	<span class="mx-2">
		<app-stopwatch></app-stopwatch>
	</span>
	<div class="frm-group">
		<button type="button" class="frm-control button-danger" (click)="stopTask()">Stop</button>
	</div>
	}

	<div class="frm-group">
		<app-dropdown
			id="activeTask"
			[placeholder]="dropdownPlaceholder"
			[items]="taskOptions"
			[selectedValue]="dummyValue"
			(selectedValueChanged)="startTask($event)" />
	</div>
</div>
