.button-ghost {
    font-weight: 300;
    opacity: 1;
    width: auto;

    &:hover {
        color: var(--colour-text);
        background-color: var(--colour-hover) !important;
    }

    &::after {
        display: none;
    }

    & + .items {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: var(--colour-card);

        > div {
            color: var(--colour-text);

            &:hover {
                color: var(--colour-text);
                background-color: var(--colour-hover) !important;
            }
        }
    }
}
