div.accordion {
    box-shadow: var(--colour-box-shadow) 0px 0px 4px 0px;
    div[ngbaccordionitem] {
        border-color: var(--colour-border);
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        background: transparent;

        &:last-child {
            border-bottom: 0;
        }
    }

    h2[ngbaccordionheader] button {
        background-color: var(--colour-title-bar);
        border-color: var(--colour-border);
        color: var(--colour-text);
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }

        &::after {
            color: var(--colour-text);
            background-image: none;
            font: var(--fa-font-solid);
            content: "\f107";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 1rem;
        }

        > span {
            width: 100%;
            margin-right: 2rem;
        }
    }
    div[ngbAccordionCollapse] {
        background: var(--colour-card);
        border-color: var(--colour-border);
    }
}
