body {
    .ngb-dp-header,
    .ngb-dp-month-name,
    .ngb-dp-weekdays {
        background-color: var(--colour-title-bar);
    }

    .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }
    .custom-day.faded,
    .custom-day.range.faded {
        background-color: var(--colour-primary-border);
    }

    .custom-day.range,
    .custom-day:hover {
        background-color: var(--colour-primary);

        color: #fff;
    }

    ngb-datepicker.dropdown-menu {
        background-color: var(--colour-card);
    }

    ngb-datepicker .form-select {
        background-color: var(--colour-card);
    }

    .ngb-dp-weekday {
        color: var(--colour-highlight);
    }
}
