:root {
    --colour-title-bar: #1b1b2a;
    --colour-text: rgba(255, 255, 255, 0.8);
    --colour-hover: rgba(255, 255, 255, 0.05);
    --colour-primary: #65b6fd;
    --colour-category: #9a9a9a;
    --colour-box-shadow: rgba(0, 0, 0, 0.1);
    --colour-border: #2b3553;
    --colour-button-border: #535659;
    --colour-active: rgba(255, 255, 255, 0.8);
    --colour-placeholder: rgba(255, 255, 255, 0.2);
    --colour-background: #242439; // #1e1e2f;
    --colour-card: #27293d;
    --colour-valid: #1b731e;
    --colour-invalid: #731b1b;
    --colour-validation: #e52b2bd9;
}
